In [4]:
import sqlite3

In [5]:
connection = sqlite3.connect('database.db')

In [6]:
cursor = connection.cursor()

In [10]:
cursor.execute("CREATE TABLE Haustier(name TEXT, futtermenge INTEGER);")

In [15]:
cursor.execute("INSERT INTO Haustier(name, futtermenge) VALUES('Wuffi', 5);")

In [19]:
cursor.execute("INSERT INTO Haustier(name, futtermenge) VALUES('Mauzi', 4);")

In [35]:
cursor.execute("SELECT name, futtermenge FROM Haustier")
result = cursor.fetchall()

In [37]:
result

[('Wuffi', 5), ('Mauzi', 4)]

In [9]:
cursor.execute("SELECT NAME, BEZIRK FROM bruecken").fetchall()[:10]

[('NAME', 'BEZIRK'),
 ('Augartenbrücke', 2),
 ('Nikolai Hangbrücke', 13),
 ('Friedensbrücke', 9),
 ('Kragtragwerk Hütteldorf', 14),
 ('Augartenbrücke', 2),
 ('Steinitzsteg', 20),
 ('Steinitzsteg', 20),
 ('Augartenbrücke', 2),
 ('Rettungstunnel AKH', 9)]

In [37]:
cursor.execute("""
select bruecken.NAME, bruecken.BEZIRK, bezirke.Name FROM bruecken INNER JOIN bezirke ON bruecken.BEZIRK = bezirke.Nummer ;
""").fetchall()[:10]

[('Augartenbrücke', 2, 'Leopoldstadt'),
 ('Nikolai Hangbrücke', 13, 'Hietzing'),
 ('Friedensbrücke', 9, 'Alsergrund'),
 ('Kragtragwerk Hütteldorf', 14, 'Penzing'),
 ('Augartenbrücke', 2, 'Leopoldstadt'),
 ('Steinitzsteg', 20, 'Brigittenau'),
 ('Steinitzsteg', 20, 'Brigittenau'),
 ('Augartenbrücke', 2, 'Leopoldstadt'),
 ('Rettungstunnel AKH', 9, 'Alsergrund'),
 ('Fuß- und Radwegsteg Komet', 15, 'Rudolfsheim-Fünfhaus')]